.container {
  min-height: 100vh;
  background-color: #f6f8fb;
  color: #07728b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 20px;
  font-family: "Poppins", sans-serif;
}

.top-box {
  background-color: #ffffff;
  padding: 35px 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 700px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 91, 100, 0.12);
  animation: fadeIn 0.5s ease-in-out;
}

.top-box h2 {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 2rem;
  color: #07728b;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.input-box input {
  padding: 12px 16px;
  border: 1px solid #a7c7ce;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  background: #ffffff;
  color: #003049;
  transition: all 0.3s ease;
}

.input-box input:focus {
  border: 1px solid #07728b;
  box-shadow: 0 0 6px rgba(0, 123, 131, 0.3);
}

.input-box button {
  background-color: #07728b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 30px;
  width: 250px;
  margin-left: 78px;
}

.input-box button:hover {
  background-color: rgb(58, 144, 150);
}

.error {
  color: #d9534f;
  font-weight: 500;
  margin-bottom: 20px;
}

.roadmap-box {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 650px;
  box-shadow: 0 6px 15px rgba(0, 91, 100, 0.12);
  animation: fadeIn 0.5s ease-in-out;
}

.roadmap-box h3 {
  color: #0f5c6e;
  margin-bottom: 20px;
  text-align: center;
}

.roadmap-steps {
  background: #eaf7f8;
  border-left: 5px solid #07728b;
  padding: 18px 30px 18px 25px;
  border-radius: 8px;
  line-height: 1.8;
  font-size: 1rem;
  color: #1b3a4b;
}

.roadmap-steps ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 25px;
}

.roadmap-steps li {
  margin-bottom: 8px;
  color: #07728b;
  font-size: 1rem;
  line-height: 1.7;
}

.roadmap-steps li::marker {
  color: #085c6e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
