*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root{
  height: 100%;
  width: 100%;
  font-family: "Poppins",sans-serif;
  background: #f8fafc;
  color: #333;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex:1;
  display: flex;
  flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.custom-number-input{
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2307728b' height='24' width='24' xmlns='http://www.w3.org/2000/svg'><polygon points='12,5 7,10 17,10'/><polygon points='12,19 7,14 17,14'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
  padding-right: 40px !important
  ;
}